<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.web.mapper.targetUrl.TargetUrlMapper">
	<resultMap type="com.bonc.sso.model.TargetUrl" id="BaseResultMap">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="targetUrl" jdbcType="VARCHAR" property="targetUrl" />
	</resultMap>
	
	<sql id="Base_Column_List">
	id, name, targeturl ,envname
	</sql>
	
	<select id="selectAll" parameterType="map" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from SSO_TARGERURL WHERE 1=1
  	</select>
  	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
	  select 
	  <include refid="Base_Column_List" />
	  from SSO_TARGERURL
	  where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findAll" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from SSO_TARGERURL WHERE 1=1
  	</select>
   
</mapper>