<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.web.mapper.form.UdFileldMapper">
	<resultMap type="com.bonc.form.entity.UdField" id="BaseResultMap">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="templatecode" jdbcType="VARCHAR" property="templatecode" />
		<result column="fieldename" jdbcType="VARCHAR" property="fieldename" />
		<result column="fieldcname" jdbcType="VARCHAR" property="fieldcname" />
		<result column="fieldsel" jdbcType="VARCHAR" property="fieldsel" />
		<result column="fielduse" jdbcType="VARCHAR" property="fielduse" />
		<result column="fieldtype" jdbcType="VARCHAR" property="fieldtype" />
		<result column="datatype" jdbcType="VARCHAR" property="datatype" />
		<result column="defaultvalue" jdbcType="VARCHAR" property="defaultvalue" />
		<result column="datalenth" jdbcType="VARCHAR" property="datalenth" />
		<result column="dataDecimal" jdbcType="VARCHAR" property="dataDecimal" />
		<result column="mathrule" jdbcType="VARCHAR" property="mathrule" />
		<result column="delflag" jdbcType="VARCHAR" property="delflag" />
		<result column="fieldcode" jdbcType="VARCHAR" property="fieldcode" />
		<result column="fielfashion" jdbcType="VARCHAR" property="fielfashion" />
		<result column="need" jdbcType="DECIMAL" property="need" />
		<result column="subtime" jdbcType="TIMESTAMP" property="subtime" />
		<result column="afterField" jdbcType="VARCHAR" property="afterField" />
		<result column="gltable" jdbcType="VARCHAR" property="gltable" />
		<result column="glfield" jdbcType="VARCHAR" property="glfield" />
		<result column="sortid" jdbcType="VARCHAR" property="sortid" />
		<result column="mainflag" jdbcType="VARCHAR" property="mainflag" />
		<result column="ztablename" jdbcType="VARCHAR" property="ztablename" />
	</resultMap>
	<sql id="Base_Column_List">
		id,templatecode,fieldename,fieldcname,fieldsel,fielduse,fieldtype,datatype,defaultvalue,
		datalenth,dataDecimal,mathrule,delflag,fieldcode,fielfashion,
		need,subtime,afterField,gltable,glfield,sortid,mainflag,ztablename
	</sql>
	<select id="selectByTablename" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ud_field where 1=1
		<if test="delflag!=null and delflag != ''">
			and delflag =#{delflag,jdbcType=VARCHAR}
		</if>
		<if test="templatecode!=null and templatecode != ''">
			and templatecode =#{templatecode,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ud_field
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<insert id="insertSelective" parameterType="com.bonc.form.entity.UdField">
		insert into ud_field
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="templatecode != null">
				templatecode,
			</if>
			<if test="fieldename != null">
				fieldename,
			</if>
			<if test="fieldcname != null">
				fieldcname,
			</if>
			<if test="fieldtype != null">
				fieldtype,
			</if>
			<if test="datalenth != null">
				datalenth,
			</if>
			<if test="delflag != null">
				delflag,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="templatecode != null">
				#{templatecode,jdbcType=VARCHAR},
			</if>
			<if test="fieldename != null">
				#{fieldename,jdbcType=VARCHAR},
			</if>
			<if test="fieldcname != null">
				#{fieldcname,jdbcType=VARCHAR},
			</if>
			<if test="fieldtype != null">
				#{fieldtype,jdbcType=VARCHAR},
			</if>
			<if test="datalenth != null">
				#{datalenth,jdbcType=TIMESTAMP},
			</if>
			<if test="delflag != null">
				#{delflag,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		ud_field
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<update id="updateByPrimaryKeySelective" parameterType="com.bonc.form.entity.UdField">
		update ud_field
		<set>
			<if test="delflag != null">
				delflag = #{delflag,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bonc.form.entity.UdField">
		update ud_field
		<set>
			<if test="fieldcname != null">
				fieldcname=#{fieldcname,jdbcType=VARCHAR},
			</if>
			<if test="fieldtype != null">
				fieldtype=#{fieldtype,jdbcType=VARCHAR},
			</if>
			<if test="datalenth != null">
				datalenth=#{datalenth,jdbcType=VARCHAR},
			</if>
			<if test="need != null">
				need=#{need,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>