<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.web.mapper.urlExplain.UrlExplainMapper">
	<resultMap type="com.bonc.sso.model.UrlExplain" id="BaseResultMap">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="introduce" jdbcType="VARCHAR" property="introduce" />
		<result column="envname" jdbcType="VARCHAR" property="envname" />
		<result column="getUserUrl" jdbcType="VARCHAR" property="getUserUrl" />
		<result column="targetUrl" jdbcType="VARCHAR" property="targetUrl" />
		<result column="sign" jdbcType="VARCHAR" property="sign" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="createDate" jdbcType="VARCHAR" property="createDate" />
	</resultMap>
	
	<sql id="Base_Column_List">
	id, introduce, envname, getuserurl, targeturl, sign, status,createdate
	</sql>
	
	<select id="selectAll" parameterType="map" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from SSO_URL WHERE 1=1
  	</select>
  	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
	  select 
	  <include refid="Base_Column_List" />
	  from SSO_URL
	  where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findAll" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from SSO_URL WHERE 1=1
  	</select>
  	
  	 <insert id="insert" parameterType="com.bonc.sso.model.UrlExplain">
    insert into SSO_URL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="envname != null">
        envname,
      </if>
      <if test="getUserUrl != null">
        getuserurl,
      </if>
      <if test="targetUrl != null">
        targeturl,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="status != null">
        status,
      </if>
       <if test="createDate != null">
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
   	  <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>	
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>		
      <if test="envname != null">
        #{envname,jdbcType=VARCHAR},
      </if>
      <if test="getUserUrl != null">
        #{getUserUrl,jdbcType=VARCHAR},
      </if>
      <if test="targetUrl != null">
        #{targetUrl,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
   
</mapper>