@CHARSET "UTF-8";
body, html {
	height:100%;
	overflow:hidden;
}
.login-container {
	box-sizing:border-box;
	position:relative;
	height:100%;
}
.login-bgimg {
	width:100%;
	height:1200px;
	background: url(../../img/login/loginBg.jpg) no-repeat;
	background-size:cover;
	-ms-behavior: url(backgroundsize.min.htc);    /* 处理IE8兼容 */
    behavior: url(backgroundsize.min.htc);
	position:absolute;
	top:50%;
	margin-top:-600px;
}
.logo {
	position:absolute;
	top:6%;
	left:50%;
}
.logo img {
	margin-top:8px;
}
.logo span {
	font-size:36px;
	color:#fff;
}

/* 登录框 */
.login-wrapper {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-255px;
	margin-top:-255px;
	width:510px;
	height:510px;
	background:url(../../img/login/login.png) no-repeat;
}
.form-wrap {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-162px;
	margin-top:-137px;
}
.inp-wrap {
	width:324px;
}
.inp-wrap label {
	font-size:16px;
	color:#676767;
	font-weight:normal;
}
.txt-wrapper {
	width:324px;
	height:41px;
	border:1px solid #d4d1d3;
	border-radius:2px;	
}
.login-img {
	width:39px;
	height:39px;
	background:#f7f7f7;
	border-right:1px solid #d4d1d3;	
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.login-img i {
	display:inline-block;
	width:18px;
	height:16px;
	background:url(../../img/login/loginSprites.png);
}
.username .login-img i {
	background-position:-22px -2px;
}
.password .login-img i {
	background-position:-43px -2px;
}
.login-inp {
	width:283px;
	height:100%;
	display:table-cell;
}
.login-inp input {
	border:none;
	width:100%;
	height:39px;
	line-height:39px;
	padding-left:5px;
}
.password {
	margin:13px auto;
}
.rem-wrap a {
	float:left;
	width:16px;
	height:16px;
	background:url(../../img/login/loginSprites.png) -2px -2px;
	margin-right:5px;
}
.rem-wrap a.active {
	background-position:-2px -22px;
}
.rem-txt {
	float:left;
	line-height:16px;
}
.forget-tips {
	cursor:pointer;
}
.sub-wrapper {
	text-align:center;
	margin-top:48px;
}
.sub-wrapper input {
	width:247px;
	height:46px;
	background:#e15b52;
	border:1px solid #da392e;
	color:#fff;
	font-size:18px;	
}
.tips{
	color:#f00;
}
/* 底部 */
.login-foot {
	position:absolute;
	left:0;
	bottom:115px;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:14px;
}
.login-foot a {
	color:#fff;
	font-size:14px;
	position:relative;
	top:1px;
}

/* 自适应 */
@media screen and (min-width:1201px) and (max-width:1440px) {
	.login-bgimg {
		background: url(../../img/login/loginBg2.jpg) no-repeat;
		margin-top:-600px;
	}
	.logo {
		top:65px;
	}
	.login-wrapper {
		width:400px;
		height:400px;
		background-size:100%;
		-ms-behavior: url(backgroundsize.min.htc);    /* 处理IE8兼容 */
    	behavior: url(backgroundsize.min.htc);
		margin-left:-200px;
		margin-top:-182px;
	}
	.inp-wrap {
		width:250px;
	}
	.inp-wrap label {
		font-size:14px;
	}
	.txt-wrapper {
		width:250px;
		height:40px;	
	}
	.form-wrap {
		margin-left:-125px;
		margin-top:-120px;
	}
	.login-img, .login-inp input {
		height:38px;
	}
	.sub-wrapper {
		margin-top:20px;
	}
	.sub-wrapper input {
		width:200px;
	}
	.login-foot {
		bottom:50px;
	}
}
@media screen and (min-width:1000px) and (max-width:1200px) {
	.login-bgimg {
		background: url(../../img/login/loginBg2.jpg) no-repeat;
		margin-top:-600px;
	}
	.logo {
		top:70px;
	}
	.login-wrapper {
		width:400px;
		height:400px;
		background-size:100%;
		-ms-behavior: url(backgroundsize.min.htc);    /* 处理IE8兼容 */
    	behavior: url(backgroundsize.min.htc);
		margin-left:-200px;
		margin-top:-200px;
	}
	.inp-wrap {
		width:270px;
	}
	.inp-wrap label {
		font-size:14px;
	}
	.txt-wrapper {
		width:270px;	
	}
	.form-wrap {
		margin-left:-135px;
		margin-top:-126px;
	}
	.sub-wrapper {
		margin-top:30px;
	}
	.sub-wrapper input {
		width:180px;
	}
	.login-foot {
		bottom:60px;
	}
}